@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #000;
    background: #eee;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    z-index: 999;
}

nav:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #fff;
}

.menu {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    outline: 0;
    text-decoration: none;
}

.logo img {
    height: 30px;
}

.control {
    display: flex;
    gap: 32px;
}

.control a {
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.control a:hover {
    color: #58a6ff;
}

header {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 420px;
    padding: 0;
    margin-top: 100px;
    z-index: 1;
}

header:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 40px 0;
    background: #fff;
    text-align: center;
}

.info label {
    color: #999;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.info p {
    width: 80%;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.info a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: 1;
    padding: 10px 20px;
    margin-top: 30px;
    color: #fff;
    outline: 0;
    font-size: 18px;
    font-weight: 500;
    background: #0162cc;
    border-radius: 10px;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

section {
    display: flex;
    align-items: center;
    width: 1100px;
}


footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1100px;
    height: auto;
    padding: 60px 0;
    z-index: 1;
}

.links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.links li {
    list-style: none;
}

.links li a {
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.links li a:hover {
    color: inherit;
    text-decoration: underline;
}

.top:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #fff;
}

.bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 60px;
    z-index: 1;
}

.bottom:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #eee;
}

.copyright {
    font-size: 12px;
    font-weight: 500;
}

.social {
    display: flex;
    font-size: 22px;
    gap: 16px;
}

.social a {
    color: inherit;
    outline: 0;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {

    nav {
        width: 100%;
        height: 80px;
        padding: 0 5%;
    }

    .open .menu:after {
        content: "\e59b";
    }

    .open .control {
        transform: translateX(0);
    }

    .menu {
        font-family: "Font Awesome 6 Pro";
        display: flex;
        font-size: 30px;
        cursor: pointer;
    }

    .menu:after {
        content: "\f0c9";
    }

    .control {
        position: fixed;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #fff;
        transform: translateX(100%);
        transition: all .3s ease;
    }

    .control a {
        font-size: 16px;
    }

    header {
        margin-top: 80px;
        padding: 60px 5%;
    }

    .info {
        align-items: center;
        text-align: center;
    }

    .info label {
        font-size: 40px;
    }

    .info p {
        font-size: 14px;
        width: 100%;
    }

    .info a {
        font-size: 16px;
        margin-top: 20px;
    }

    .container {
        width: 100%;
    }

    footer .logo {
        margin-bottom: 60px;
    }

    footer .links {
        flex-wrap: wrap;
        row-gap: 16px;
        width: 100%;
    }

    footer .links ul {
        width: 50%;
    }

    .top,
    .bottom {
        width: 100%;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .top {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
        gap: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}