@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #111;
    background: #111;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    z-index: 999;
}

nav:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #fff;
}

.menu {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    outline: 0;
    text-decoration: none;
}

.logo img {
    height: 30px;
}

.control {
    display: flex;
    gap: 32px;
}

.control a {
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.control a:hover {
    color: #58a6ff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 80px;
    margin-top: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
}

.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}

.info label {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.info p {
    width: 80%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.info a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 1;
    padding: 0 30px;
    margin-top: 30px;
    color: inherit;
    outline: 0;
    font-size: 18px;
    font-weight: 600;
    background: #ffca40;
    border-radius: 20px;
    text-decoration: none;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.bullet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% / 3);
    height: auto;
    padding: 0 40px;
}

.bullet:before {
    font-family: "Font Awesome 6 Pro";
    color: #ffca40;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: -10px;
    transform: translateY(-50%);
}

.bullet:nth-child(1):before {
    content: "\f48b";
}

.bullet:nth-child(2):before {
    content: "\f6ed";
}

.bullet:nth-child(3):before {
    content: "\f7b6";
}

.bullet:nth-child(1) {
    background: #222;
}

.bullet:nth-child(2) {
    background: #333;
}

.bullet:nth-child(3) {
    background: #444;
}

.bullet span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.bullet label {
    margin: 0 0 40px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

.partners label {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.partners p {
    width: 50%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.bunch {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: auto;
}

.good {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: auto;
}

.know {
    flex-direction: row-reverse;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.learn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    color: #fff;
    padding: 40px;
    background: #222;
}

.learn label {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.learn p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1100px;
    height: auto;
    padding: 60px 0;
    z-index: 1;
}

.links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.links li {
    list-style: none;
}

.links li a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
}

.links li a:hover {
    color: #000;
    text-decoration: underline;
}

.top:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #ffca40;
}

.bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 60px;
    z-index: 1;
}

.bottom:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #111;
}

.copyright {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.social {
    display: flex;
    font-size: 22px;
    gap: 16px;
}

.social a {
    color: #fff;
    outline: 0;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {


    .good {
        flex-direction: column;
        width: 100%;
        padding: 0 5%;
    }

    .show,
    .learn {
        width: 100%;
    }

    .show img {
        width: 100%;
    }

    .learn p {
        font-size: 14px;
    }

    section {
        width: 100%;
    }

    .bunch {
        flex-wrap: wrap;
    }

    .partners {
        padding: 100px 5%;
    }

    .partners p {
        width: 100%;
        font-size: 14px;
    }

    .more {
        flex-direction: column;
        gap: 40px;
    }

    .bullet {
        width: 100%;
    }

    .bullet label {
        font-size: 14px;
    }

    .bullet span {
        font-size: 16px;
    }

    .bullet:before {
        font-size: 40px;
        margin-bottom: 0;
    }

    .image {
        display: none;
    }

    nav {
        width: 100%;
        height: 80px;
        padding: 0 5%;
    }

    .open .menu:after {
        content: "\e59b";
    }

    .open .control {
        transform: translateX(0);
    }

    .menu {
        font-family: "Font Awesome 6 Pro";
        display: flex;
        font-size: 30px;
        cursor: pointer;
    }

    .menu:after {
        content: "\f0c9";
    }

    .control {
        position: fixed;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #fff;
        transform: translateX(100%);
        transition: all .3s ease;
    }

    .control a {
        font-size: 16px;
    }

    header {
        margin-top: 80px;
        padding: 70px 5%;
    }

    .info {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .info p {
        font-size: 14px;
        width: 100%;
    }

    .info a {
        font-size: 16px;
        margin-top: 20px;
    }

    .container {
        width: 100%;
    }

    footer .logo {
        margin-bottom: 60px;
    }

    footer .links {
        flex-wrap: wrap;
        row-gap: 16px;
        width: 100%;
    }

    footer .links ul {
        width: 50%;
    }

    .top,
    .bottom {
        width: 100%;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .top {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
        gap: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}