@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #242220;
    background: #161b22;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    z-index: 999;
}

nav:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #161b22;
}

.menu {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    outline: 0;
    text-decoration: none;
}

.logo img {
    filter: invert(100%);
    height: 30px;
}

.control {
    display: flex;
    gap: 32px;
}

.control a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.control a:hover {
    color: #54fff5;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 100px 0;
    margin-top: 100px;
    background: #0d1117;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 1100px;
}

.info label {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.info label span {
    color: #54fff5;
}

.info p {
    width: 50%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.good {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.good a {
    line-height: 1;
    color: #54fff5;
    font-size: 18px;
    font-weight: 500;
    outline: 0;
    text-decoration: underline;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1100px;
    height: auto;
}

.price {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.price label {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.price label span {
    color: #54fff5;
}

.price p {
    width: 50%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.recall {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.here {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    gap: 20px;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;
}

.here p {
    margin: 0;
    color: #161b22;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.services {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 40px;
    height: auto;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    color: #fff;
}

.skill img {
    border-radius: 0 50% 0 0;
    margin-bottom: 20px;
}

.skill label {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.skill p {
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.skill a {
    outline: 0;
    color: #54fff5;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1100px;
    height: auto;
    padding: 60px 0;
    z-index: 1;
}

.links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.links li {
    list-style: none;
}

.links li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.links li a:hover {
    color: #54fff5;
    text-decoration: underline;
}

.top:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #0d1117;
}

.bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 60px;
    z-index: 1;
}

.bottom:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    background: #161b22;
}

.copyright {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.social {
    display: flex;
    font-size: 22px;
    gap: 16px;
}

.social a {
    color: #fff;
    outline: 0;
    text-decoration: none;
}

.social a:hover {
    color: #54fff5;
}

@media only screen and (max-width: 1200px) {

    nav {
        width: 100%;
        height: 80px;
        padding: 0 5%;
    }

    .open .menu:after {
        content: "\e59b";
    }

    .open .control {
        transform: translateX(0);
    }

    .menu {
        font-family: "Font Awesome 6 Pro";
        display: flex;
        font-size: 30px;
        cursor: pointer;
        color: #fff;
    }

    .menu:after {
        content: "\f0c9";
    }

    .control {
        position: fixed;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #0d1117;
        transform: translateX(100%);
        transition: all .3s ease;
    }

    .control a {
        font-size: 16px;
    }

    header {
        margin-top: 80px;
        padding: 60px 5%;
    }

    .info {
        align-items: center;
        text-align: center;
    }

    .info label {
        font-size: 40px;
    }

    .info p {
        font-size: 14px;
        width: 100%;
    }

    .good {
        gap: 30px;
    }

    .good a {
        font-size: 14px;
    }

    main {
        gap: 80px;
        padding: 60px 5%;
    }

    section {
        width: 100%;
    }

    .services {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        row-gap: 40px;
        width: 100%;
    }

    .skill {
        align-items: center;
        width: 48%;
        text-align: center;
    }

    .skill label,
    .skill a,
    .skill p {
        font-size: 14px;
    }

    .price label {
        font-size: 40px;
    }

    .price p {
        font-size: 14px;
        width: 100%;
    }

    .recall {
        flex-direction: column;
    }

    .here {
        padding-right: 20px;
    }

    footer .logo {
        margin-bottom: 60px;
    }

    footer .links {
        flex-wrap: wrap;
        row-gap: 16px;
        width: 100%;
    }

    footer .links ul {
        width: 50%;
    }

    .top,
    .bottom {
        width: 100%;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .top {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
        gap: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}